In [9]:
import sidetable
import pandas as pd

Usaremos el df ya filtrado de limpieza de datos 1, ya que ah칤 ya eliminamos columnas.

In [10]:
df = pd.read_csv("datos/attacks_pandas7.csv", index_col = 0)

Hip칩tesis
Antes de seguir, recordamos las preguntas que nos planteamos al principio del pair programming de EDA para dirigir nuestro an치lisis.
- 쮼s Australia el sitio m치s peligroso y letal para estar relajada en la playa?
- 쮿ay diferencias entre los paises en los ataques a hombres y mujeres?
- 쮺u치les son las edades que m치s sufren ataques?
- Independientemente de la edad, 쯥ufren los hombres m치s ataques que las mujeres?
- 쮼n qu칠 mes ocurren m치s ataques?
- 쮺u치l es la relaci칩n entre la especie y el tipo de ataque (si es fatal o no)?
- 쮺칩mo han evolucionado los ataques a lo largo del tiempo?

Objetivos
Usad la librer칤a sidetable para:
- Explorar los valores nulos.
- Explorad la columna de country y reportad los resultados solo para aquellas categor칤as que incluyan el 70% de los datos.
- Explorad la columna country en relaci칩n al sexo, filtrando de nuevo por aquellas categor칤as que incluyan el 70% de los datos.
- Haced los mismo para la columna activity en relaci칩n a la columna fatal. En este caso filtrad y mostrad los datos que incluyan el 60% de los datos.
- Por 칰ltimo, realizad este an치lisis para la columna fecha (la que creamos en el 칰ltimo ejercicio de pair programming de Pandas) en relaci칩n a la columna fatal. Mostrad solo los resultados para las categor칤as que incluyan el 60% de los datos.
游늷 Nota Igual que siempre, no nos vale solo con picar el c칩digo, queremos que nos incluyais las conclusiones que extraeis.

In [11]:
# Explorar los valores nulos.

df.stb.missing()

                    missing  total    percent
siglo                  6287   7789  80.716395
time                   6277   7789  80.588009
age                    6271   7789  80.510977
species_               6243   7789  80.151496
location               6168   7789  79.188599
area                   6163   7789  79.124406
activity               6148   7789  78.931827
sex_                   6131   7789  78.713570
country                6127   7789  78.662216
name                   6126   7789  78.649377
type                   6117   7789  78.533830
href                   6117   7789  78.533830
year                   6117   7789  78.533830
mes                    2395   7789  30.748491
fatal_(y/n)_limpio     2111   7789  27.102324
fatal_(y/n)            2038   7789  26.165105
injury                 1531   7789  19.655925
date                   1503   7789  19.296444
case_number               1   7789   0.012839
unnamed:_0                0   7789   0.000000
sex                       0   7789   0.000000

In [12]:
# Explorad la columna de country y reportad los resultados solo para aquellas categor칤as que incluyan el 70% de los datos.

df.stb.freq(["country"], thresh= 70)

     country  count    percent  cumulative_count  cumulative_percent
0        USA    741  44.584838               741           44.584838
1  AUSTRALIA    343  20.637786              1084           65.222623
2     others    578  34.777377              1662          100.000000

In [13]:
df.head(2)

,case_number,unnamed:_0,year,type,country,area,location,activity,name,sex_,...,time,species_,href,siglo,fatal_(y/n),injury,date,mes,fatal_(y/n)_limpio,sex
0,2018.06.25,0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo XXI,N,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018,Jun,N,F
1,2018.06.03.a,6,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,...,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo XXI,Y,FATAL,03-Jun-2018,Jun,Y,M

In [14]:
# Explorad la columna country en relaci칩n al sexo, filtrando de nuevo por aquellas categor칤as que incluyan el 70% de los datos.

df.stb.freq(["country", "sex"], thresh= 70)

,country,sex,count,percent,cumulative_count,cumulative_percent
0,USA,M,609,36.642599,609,36.642599
1,AUSTRALIA,M,309,18.592058,918,55.234657
2,SOUTH AFRICA,M,224,13.477738,1142,68.712395
3,others,others,520,31.287605,1662,100.000000

In [15]:
# Haced los mismo para la columna activity en relaci칩n a la columna fatal.

df.stb.freq(["activity", "fatal_(y/n)_limpio"], thresh= 60)

,activity,fatal_(y/n)_limpio,count,percent,cumulative_count,cumulative_percent
0,Surfing,N,51,32.278481,51,32.278481
1,Swimming,N,17,10.759494,68,43.037975
2,Wading,N,10,6.329114,78,49.367089
3,Fishing,N,10,6.329114,88,55.696203
4,others,others,70,44.303797,158,100.000000

In [16]:
# Realizad este an치lisis para la columna fecha en relaci칩n a la columna fatal.

df.stb.freq(["mes", "fatal_(y/n)_limpio"], thresh= 60)

,mes,fatal_(y/n)_limpio,count,percent,cumulative_count,cumulative_percent
0,Jul,N,446,9.113200,446,9.113200
1,Aug,N,398,8.132407,844,17.245607
2,Sep,N,370,7.560278,1214,24.805885
3,Jun,N,334,6.824683,1548,31.630568
4,Jan,N,329,6.722517,1877,38.353085
5,Oct,N,315,6.436453,2192,44.789538
6,Apr,N,289,5.905190,2481,50.694728
7,Mar,N,270,5.516960,2751,56.211688
8,others,others,2143,43.788312,4894,100.000000

En relaci칩n a los valores nulos:
- Debatid entre vosotras qu칠 har칤ais con los valores nulos, 쯟os quitar칤ais o los reemplazar칤ais con un valor que nosotras decidiremos?. Cread una celda de markdown en vuestro jupyter y escribid vuestras conclusiones.

Creemos que como tenemos una gran cantidad de nulos deber칤amos filtrarlos de alguna forma para que los resultados saliesen lo m치s fiables posibles. 

La mejor manera ser칤a poder filtrar las filas que todas sus categor칤as estuviesen "vac칤as", no obstante no sabemos cual ser칤a la forma correcta de hacer ese filtro.

Otra opci칩n ser칤a filtrar nulos en base a las columnas que m치s no interesan para probar nuestras hipotesis, que ser칤an la de country, las de fecha, species... pero por cual priorizamos es algo que tampoco tenemos claro.