### Pair Programming ‚Äì Limpieza

In [3]:
import pandas as pd

In [7]:
# 1. Al empezar a trabajar con este dataframe ya eliminamos algunas columnas que a priori no nos interesaban. 
# Ahora llega el momento de eliminar alguna columna m√°s. En este caso tendr√©is que eliminar las columnas que no
# nos sean √∫tiles para contestar a nuestras preguntas. Pero ojo ‚ö†Ô∏è, haced una copia del dataframe para no "cargarnos"
# el dataframe original y perder la info.

df_copia = pd.read_csv("datos/attacks_pandas7.csv", index_col = 0)

In [8]:
df_copia.head(2)

,case_number,unnamed:_0,year,type,country,area,location,activity,name,sex_,...,time,species_,href,siglo,fatal_(y/n),injury,date,mes,fatal_(y/n)_limpio,sex
0,2018.06.25,0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo XXI,N,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018,['Jun'],N,Y
1,2018.06.03.a,6,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,...,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo XXI,Y,FATAL,03-Jun-2018,['Jun'],Y,Y

In [10]:
# 2. ¬øHay valores duplicados en nuestro dataframe? En caso de que los haya, eliminandlos.

df_copia.duplicated().sum()

0

In [ ]:
# 3. Como hemos visto, algunas columnas no tienen el tipo de datos que deber√≠an. Cambiad el tipo de dato para la columna de year.
# 4. En la columna de country poner todos los valores en min√∫sculas. Tendr√©is que usar una funci√≥n o una lambda üí°
# 5. Guardamos el csv para seguir trabajando en el siguiente ejercicio de pair de limpieza.