In [1]:
import pandas as pd
import mysql.connector

Es el momento de meter todos nuestros datos en SQL üí™üèΩ!!! En este ejercicio nos crearemos dos tablas en una BBDD creada por nosotras. Una de las tablas contendr√° la informaci√≥n que obtuvimos de los ejercicios de pair programming de Limpieza, es decir, el data set de ataques de tiburones limpito. La segunda tabla tendr√° la informaci√≥n obtenida en el ejercicio de pair de ETL 1.
- üìå Nota Todo lo tendremos que hacer desde jupyter notebook
- Cread la BBDD con el nombre de tiburones.
- Cread las tablas de la BBDD:
- Tabla ataques
- Tabla clima
- BONUS Insertar los datos en las tablas.
üìå Nota Esta parte del pair es optativa y no ser√° considerada para la evaluaci√≥n
üö® En caso de que no teng√°is los datos unidos de la sesi√≥n anterior, ten√©is un csv datos_union_clima_ataques con todos los datos que necesitareis para este ejercicio

In [3]:
df = pd.read_csv("datos/datos_union_clima_ataques.csv", index_col=0)

In [12]:
pd.set_option('display.max_columns', None)

In [19]:
df.isnull().sum()

case_number           1
year                  0
type                  1
country               0
area                 32
                     ..
msl_pressure          0
prec_amount           0
snow_depth            0
wind10m.direction     0
wind10m.speed         0
Length: 62, dtype: int64

In [18]:
df.head(2)

,case_number,year,type,country,area,location,activity,name,age,time,species_,injury,fecha_limpia,fatal,sex,pais,rh_950mb,rh_900mb,rh_850mb,rh_800mb,rh_750mb,rh_700mb,rh_650mb,rh_600mb,rh_550mb,rh_500mb,rh_450mb,rh_400mb,rh_350mb,rh_300mb,rh_250mb,rh_200mb,wind_950mb,wind_900mb,wind_850mb,wind_800mb,wind_750mb,wind_700mb,wind_650mb,wind_600mb,wind_550mb,wind_500mb,wind_450mb,wind_400mb,wind_350mb,wind_300mb,wind_250mb,wind_200mb,index,timepoint,cloudcover,highcloud,midcloud,lowcloud,temp2m,lifted_index,rh2m,msl_pressure,prec_amount,snow_depth,wind10m.direction,wind10m.speed
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,57,18h00,White shark,"No injury to occupant, outrigger canoe and pad...",Jun,N,F,USA,4.953125,6.15625,6.8125,6.296875,5.03125,5.296875,5.234375,5.09375,5.078125,6.015625,6.5,6.84375,7.296875,5.265625,4.015625,-0.3125,3.125,3.375,3.6875,3.75,3.609375,3.625,4.046875,4.5625,5.140625,5.671875,6.1875,6.59375,7.0,7.546875,7.90625,7.21875,31.5,97.5,5.078125,-9999.0,-9999.0,-9999.0,11.421875,9.6875,4.25,1013.703125,1.234375,0.0,192.109375,2.921875
1,2018.06.18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson√Ç¬†McNeely,11,14h00 -15h00,NaN,Minor injury to left thigh,Jun,N,F,USA,4.953125,6.15625,6.8125,6.296875,5.03125,5.296875,5.234375,5.09375,5.078125,6.015625,6.5,6.84375,7.296875,5.265625,4.015625,-0.3125,3.125,3.375,3.6875,3.75,3.609375,3.625,4.046875,4.5625,5.140625,5.671875,6.1875,6.59375,7.0,7.546875,7.90625,7.21875,31.5,97.5,5.078125,-9999.0,-9999.0,-9999.0,11.421875,9.6875,4.25,1013.703125,1.234375,0.0,192.109375,2.921875

In [6]:
def crear_bbdd(nombre_bbdd):
    mydb = mysql.connector.connect(
                                    host= "localhost", 
                                    user= "root",
                                    password= "AlumnaAdalab")

    print("conexion realizada con √©xito")

    mycursor = mydb.cursor()
    try:
        mycursor.execute(f"CREATE DATABASE IF NOT EXISTS {nombre_bbdd};")
        print(mycursor)

    except mysql.connector.Error as err:

        print(err)
        print("error code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)

In [7]:
mybase = crear_bbdd("tiburones")

conexion realizada con √©xito
CMySQLCursor: CREATE DATABASE IF NOT EXISTS tiburones;

In [8]:
def crear_tabla(nombre_bbdd, contrase√±a, query):

    cnx = mysql.connector.connect(user= "root", password= f"{contrase√±a}", host= "127.0.0.1", database = f"{nombre_bbdd}" )

    mycursor = cnx.cursor()

    try:
        mycursor.execute(query)
        cnx.commit()

    except mysql.connector.Error as err:

        print(err)
        print("error code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)

In [14]:
df.columns

Index(['case_number', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'age', 'time', 'species_', 'injury', 'fecha_limpia',
       'fatal', 'sex', 'pais', 'rh_950mb', 'rh_900mb', 'rh_850mb', 'rh_800mb',
       'rh_750mb', 'rh_700mb', 'rh_650mb', 'rh_600mb', 'rh_550mb', 'rh_500mb',
       'rh_450mb', 'rh_400mb', 'rh_350mb', 'rh_300mb', 'rh_250mb', 'rh_200mb',
       'wind_950mb', 'wind_900mb', 'wind_850mb', 'wind_800mb', 'wind_750mb',
       'wind_700mb', 'wind_650mb', 'wind_600mb', 'wind_550mb', 'wind_500mb',
       'wind_450mb', 'wind_400mb', 'wind_350mb', 'wind_300mb', 'wind_250mb',
       'wind_200mb', 'index', 'timepoint', 'cloudcover', 'highcloud',
       'midcloud', 'lowcloud', 'temp2m', 'lifted_index', 'rh2m',
       'msl_pressure', 'prec_amount', 'snow_depth', 'wind10m.direction',
       'wind10m.speed'],
      dtype='object')

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4395 entries, 0 to 4394
Data columns (total 62 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   case_number        4394 non-null   object
 1   year               4395 non-null   float64
 2   type               4394 non-null   object
 3   country            4395 non-null   object
 4   area               4363 non-null   object
 5   location           4276 non-null   object
 6   activity           4066 non-null   object
 7   name               4325 non-null   object
 8   age                2681 non-null   object
 9   time               2395 non-null   object
 10  species_           2647 non-null   object
 11  injury             4381 non-null   object
 12  fecha_limpia       4148 non-null   object
 13  fatal              3975 non-null   object
 14  sex                4059 non-null   object
 15  pais               4395 non-null   object
 16  rh_950mb           4395 non-null   float64
 17  rh_900mb           4395 non-null   float64
 18  rh_850mb           4395 non-null   float64
 19  rh_800mb           4395 non-null   float64
 20  rh_750mb           4395 non-null   float64
 21  rh_700mb           4395 non-null   float64
 22  rh_650mb           4395 non-null   float64
 23  rh_600mb           4395 non-null   float64
 24  rh_550mb           4395 non-null   float64
 25  rh_500mb           4395 non-null   float64
 26  rh_450mb           4395 non-null   float64
 27  rh_400mb           4395 non-null   float64
 28  rh_350mb           4395 non-null   float64
 29  rh_300mb           4395 non-null   float64
 30  rh_250mb           4395 non-null   float64
 31  rh_200mb           4395 non-null   float64
 32  wind_950mb         4395 non-null   float64
 33  wind_900mb         4395 non-null   float64
 34  wind_850mb         4395 non-null   float64
 35  wind_800mb         4395 non-null   float64
 36  wind_750mb         4395 non-null   float64
 37  wind_700mb         4395 non-null   float64
 38  wind_650mb         4395 non-null   float64
 39  wind_600mb         4395 non-null   float64
 40  wind_550mb         4395 non-null   float64
 41  wind_500mb         4395 non-null   float64
 42  wind_450mb         4395 non-null   float64
 43  wind_400mb         4395 non-null   float64
 44  wind_350mb         4395 non-null   float64
 45  wind_300mb         4395 non-null   float64
 46  wind_250mb         4395 non-null   float64
 47  wind_200mb         4395 non-null   float64
 48  index              4395 non-null   float64
 49  timepoint          4395 non-null   float64
 50  cloudcover         4395 non-null   float64
 51  highcloud          4395 non-null   float64
 52  midcloud           4395 non-null   float64
 53  lowcloud           4395 non-null   float64
 54  temp2m             4395 non-null   float64
 55  lifted_index       4395 non-null   float64
 56  rh2m               4395 non-null   float64
 57  msl_pressure       4395 non-null   float64
 58  prec_amount        4395 non-null   float64
 59  snow_depth         4395 non-null   float64
 60  wind10m.direction  4395 non-null   float64
 61  wind10m.speed      4395 non-null   float64
dtypes: float64(47), object(15)
memory usage: 2.1+ MB

In [22]:
#df.dropna(columns="case_number", axis=0)

TypeError: dropna() got an unexpected keyword argument 'columns'

In [20]:
query_tabla_tiburones = """
                            CREATE TABLE IF NOT EXISTS ataques ( 'case_number' VARCHAR(45) PRIMARY KEY NOT NULL, 
                                                                    'year' FLOAT ,
                                                                    'type' VARCHAR(200), 
                                                                    'country' VARCHAR(45),
                                                                    'area'  VARCHAR(45),
                                                                    'location' VARCHAR(200),
                                                                    'activity' VARCHAR(2000),
                                                                    'name' VARCHAR(200),
                                                                    'age' VARCHAR(20),
                                                                    'time' VARCHAR(20),
                                                                    'species_' VARCHAR(20),
                                                                    'injury' VARCHAR(2000),
                                                                    'fecha_limpia' VARCHAR(3),
                                                                    'fatal' VARCHAR(1),
                                                                    'sex' VARCHAR(1),
                                                                    'pais' VARCHAR(45),

                                                                    PRIMARY KEY ("case_number)
                                                                    CONSTRAINT
                                                                    ON DELETE CASCADE
                                                                    ON UPDATE CASCADE)"""

In [21]:
tabla_atak = crear_tabla("tiburones", "AlumnaAdalab", query_tabla_tiburones)

1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near ''case_number' VARCHAR(45) PRIMARY KEY NOT NULL,
                               ' at line 1
error code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near ''case_number' VARCHAR(45) PRIMARY KEY NOT NULL,
                               ' at line 1